

body { background-image: url("sport_slike&pozadina/pozadina.jpg");background-size: cover;margin:0;padding: 0;}


nav {background-color: gray;
     width: 100%;
     height: 48px ;
     
     
}

nav ul {list-style-type:none;
    background-color:gray;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    
    }

nav ul li {float: left;
           flex: 1;}

nav ul li a{padding: 15px;
     display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
   }

nav ul li a:hover {background-color: rgb(59, 59, 59);}

h1 {font-style: bold;;font-family: sans-serif;text-align: center;}

.prvi { padding: 35px;
  margin-top:50px;
  border-style: solid;
  border-radius: 15px ;
  background-color: gray;}



.logo{padding: 14px 14px;
      float: left;}


.stupac{
         border-style: solid;
        border-radius: 15px;
        margin:0;
        background-color: grey;
       }

.stupac p{font-size: 30px;}


.flex2 ul li{height: 40vh;
        flex-grow: 1;}

.flex2 ul li:last-child{flex-grow: 10;}

.flex2 ul li img {  max-height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    vertical-align: bottom;}

.flex2 ul{list-style-type: none;}

.login {display: flex;
          justify-content: center;}
          
.email {width: 50vw;height:50vh}

button:hover{ background-color:gray;}

@media(min-width:786px){
     .flex {display: flex;}

     .flex2 ul{display: flex;
               flex-wrap: wrap;}
}


@media(max-width:400px){

     .flex2 ul li img {height: 40vh;width: 40vh;object-fit: contain;}

     h1{ margin-top: 10vh;}
}